# Telegram bot token
bot_token: "BOT_TOKEN_HERE"

# Supported db types: json, sqlite
# Both take a single argument which is the database path
database: [sqlite, "bot1/secretlounge.db"]
#WARNING: Changes have not been tested with JSON.

# Relay media
#allow_contacts: true # contacts
#allow_documents: true # arbitrary files (other than GIFs)

# Allow commands (false if removed or commented)
allow_remove_command: true # /remove messages without a cooldown
enable_expose: true # /expose true identity to another member
#tripcode_toggle: true # /tripcodetoggle sets anonymous mode
whitelist: true # /whitelist users or they cannot join

# Allow editing of recent messages
allow_edits: true

# Limit usage of /tripcode to once in every X hours
tripcode_limit_interval: 0.16

# channel id the bot should post log entries into
# defaults to false (no channel logging), the ID starts with -100...
# bot needs to be admin in channel
#log_channel: false

# point of contact shown to blacklisted users
#blacklist_contact: http://t.me/invite/something

# Allow photos and videos
media_allowed: true
# Stop new users from sending media or forwards for X hours
#media_limit_period: 3
# Karma minimums for Stickers, Images, then Videos (0,0,0 is default)
#media_karma: [-1,-1,-1]
#media_karma: [1,5,10]

# map of bots that users can refer to in their messages (optional)
# e.g. >>>/foo/ would be turned into an inline link to http://t.me/foochatbot
#linked_network:
#  foo: foochatbot
#  bar: barchatbot
# alternatively the map can also be loaded from another YAML file using this syntax
#linked_network: "./somewhere/bots.yml"

# Random other options
#vanity_version: "1.8" # Changes the version number: "secretlounge-ng v_____"
