# Telegram bot token
bot_token: "BOT_TOKEN_HERE"

# supported db types: json, sqlite
# both take a single argument which is the database path
database: [sqlite, "bot1/secretlounge.db"]
#WARNING: Changes have not been tested with JSON.

# relay contacts
allow_contacts: false
# relay arbitrary documents/files (GIFs always work)
allow_documents: true

# allow mods to remove message without issuing a cooldown
allow_remove_command: true

# enable signing messages using /tsign as well as setting a tripcode
enable_signing: true
# limit usage of /tripcode to once in every interval (hours)
# defaults to 1 if not specified, set to 0 to disable
tripcode_limit_interval: 24

# point of contact shown to blacklisted users (optional)
#blacklist_contact: http://t.me/invite/something

# duration (hours) during which new users can't send media or forwards (optional)
#media_limit_period: 3

# map of bots that users can refer to in their messages (optional)
# e.g. >>>/foo/ would be turned into an inline link to http://t.me/foochatbot
#linked_network:
#  foo: foochatbot
#  bar: barchatbot
# alternatively the map can also be loaded from another YAML file using this syntax
#linked_network: "./somewhere/bots.yml"
